body {
  font-family:Rubik Dirt;
  margin:0px;
}
#title {
  font-weight:lighter;
  font-family:Rubik Spray Paint, cursive;
  text-align:center;
  font-decoration: 1px, black, solid;
}
#header {
  text-align:center;
}
#bg-img {
  position:fixed;
  top:0px;
  bottom:0px;
  z-index:-1000000000000000000000000000000000000000000000000000000;
  height:100vh;
  width:100vw;
  opacity:.7;
  color:#f00;
}
hr {
  color:black;
  border-color:black;
}

.img {
  background-color:white;
  padding:10px;
  border:solid 1px #ABABAB;
  text-align:center;
  font-style:italic;
  margin:10px;
  height:250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 5px;
}
#store {
  text-align:center;
  font-style:italic;
  margin:50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
figcaption {
  background-color:white;
  padding:5px;
  border:solid 1px #ABABAB;
  border-radius: 5px;
}
#select-items-for-cart {
  border: 5px solid #dddddd;
  border-radius:5px;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
  font-weight:lighter;
  font-family:Rubik Spray Paint, cursive;
  text-align:center;
  font-decoration: 1px, black, solid;
}
#crochet-label {
  font-weight:lighter;
  font-family:Rubik Spray Paint, cursive;
  text-align:center;
  font-decoration: 1px, black, solid;
}
#submissions {
  border: 5px solid #6E6969;
  border-radius:5px;
  background-color:#B7C9E2;
  text-align:center;
}
#options {
  font-family: Rubik Dirt, cursive;
  background-color:#B7C9E2;
  color:#6E6969
}
#spacer {
  margin-left:15px;
  margin-right:15px;
}
#add-to {
  font-family: Rubik Dirt, cursive;
  font-weight:bolder;
  background-color:#B7C9E2;
  color:#6E6969
}
#footer {
  display:flex;
  flex: 1 1 auto;
  padding-top:15px;
  padding-bottom:15px;
  width:100%;
  background-color:#7EAD9F;
  justify-content:space-evenly;
  color:#444134;
}
#vertical-bar {
    border-right:solid 3px #4E5340;
}
#address a {
  color:#444134;
}
